PORT=

NODE_ENV =
# add Database URL
MONGO_URI=

# JWT access secret code
JWT_ACCESS_SECRET=
# JWT access code expiration time
JWT_ACCESS_EXPIRE=


# JWT refresh secret code
JWT_REFRESH_SECRET=
# JWT refresh code expiration time
JWT_REFRESH_EXPIRE=



